<svg
  width="16"
  height="16"
  viewBox="0 0 32 32"
  xmlns="http://www.w3.org/2000/svg"
  ><title>Stack Overflow</title><path
    fill="currentColor"
    d="M26 26v-8h2v10H4V18h2v8h20zM10 24h12v-2H10v2zm.4-4.6l11.8 2.4.4-2-11.8-2.4-.4 2zm1.6-5l10.8 5.2 1-1.8-10.8-5.2-1 1.8zm3.2-4.8l8.8 8 1.4-1.6-8.8-8-1.4 1.6zm5.2-3.8l-1.8 1.4 6.4 9 1.8-1.4-6.4-9z"
  ></path></svg
>
