---
import Section from "../Section.astro"
import { useTranslations } from "@/i18n/utils"

const { basics, lang } = Astro.props
const { summary } = basics
const t = useTranslations(lang)
---

<Section title={t('section.about')}>
  <p>
    {summary}
  </p>
</Section>
